.activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .activity-card {
    box-sizing: border-box;
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
  }
  
  .activity-category {
    flex: 1;
    max-width: 300px;
    margin: 10px;
  }
  
  .activity-category .activity-card {
    background-color: #fff;
    border: 2px solid #da6a22;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    overflow: hidden;
  }
  
  .activity-category .activity-card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFA500;
    height: auto;
  }
  
  .activities-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .activities-header h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .activities-header p {
    font-weight: bolder;
    color: #da6a22;
    padding: 5px;
  }
  
  .thumbnail {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border: 2px solid #da6a22;
  }
  
  .placeholder-thumbnail {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    margin-bottom: 10px;
  }
  
  .activity-details {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: -webkit-line-clamp 0.5s ease;
  }
  
  .activity-card:hover .activity-details {
    -webkit-line-clamp: unset;
  }
  
  .activities {
    background: #fff;
    padding: 40px 0;
  }
  
  .activity-card.selected {
    background-color: #da6a22;
    transform: scale(1.01);
    border: 2px solid #fff;
    height: auto;
  }
  
  .website-button {
    background-color: #da6a22;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .activity-card:not(.selected) {
    transform: none !important;
  }
  
  @media (max-width: 767px) {
    .activity-card {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 40px;
    }
  
    .category-header {
      display: flex;
      overflow-x: auto;
    }
  
    .category-header h3 {
      padding: 10px;
      cursor: pointer;
      transition: background 0.3s ease, color 0.3s ease;
    }
  
    .category-header h3.selected {
      background-color: #FFA500;
      color: #fff;
    }
  
    .activity-card:hover {
      transform: scale(1.01);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border: 2px solid #FFA500;
    }
  
    .activity-card {
      background-color: #fff;
      border: 2px solid #da6a22;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: #333;
      transition: transform 0.5s ease, box-shadow 0.3s ease;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }
  
    .activity-card.mobile-clicked {
      transform: scale(1.05);
      border: 2px solid #FFA500;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      height: auto;
    }
  
    .activity-card.mobile-clicked .website-button {
      display: block;
    }
  
    .website-button {
      display: none;
    }
  }
  