/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto; /* Allow scrolling */
}

.app {
  text-align: center;
  background: linear-gradient(to bottom, #1a1a1a, #333); /* Dark background gradient */
  color: #fff; /* Set text color to white */
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: background 0.3s ease; /* Add transition for background change */
}

.header {
  background-color: #555; /* Dark gray header background */
  padding: 20px;
}

.header h1 {
  font-size: 3em; /* Adjust font size */
  color: #fff; /* Header text color */
  margin-bottom: 10px; /* Increase margin for spacing */
}

.hero {
  background-color: #333;
  overflow: hidden;
}

.activities {
  background: linear-gradient(to bottom, #555, #444); /* Dark activities background gradient */
  padding: 40px 0;
}

.activities-header {
  margin-bottom: 20px;
}

.activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.activity-category {
  flex: 1;
  max-width: 300px;
  margin: 10px;
}

.activity-card {
  background-color: #666; /* Dark gray card background */
  border: 1px solid #fff; /* White border */
  padding: 20px;
  margin-bottom: 20px;
  color: #fff; /* Card text color */
  transition: background 0.3s ease, transform 0.3s ease; /* Add transitions for background and scale change */
  cursor: pointer; /* Add pointer cursor */
}

.activity-card:hover {
  background-color: #888; /* Darker gray on hover */
  transform: scale(1.05); /* Scale up on hover */
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #fff; /* White border around the thumbnail */
}

.placeholder-thumbnail {
  width: 100%;
  height: 100%;
  background-color: #888; /* Dark gray background for placeholder */
}
