body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto; /* Allow scrolling */
}

.app {
  text-align: center;
  background: linear-gradient(to bottom, #1a1a1a, #333); /* Dark background gradient */
  color: #fff; /* Set text color to white */
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: background 0.3s ease; /* Add transition for background change */
}

.header {
  background-color: #555; /* Dark gray header background */
  padding: 20px;
}

.header h1 {
  font-size: 16em; /* Adjust font size */
  color: #fff; /* Header text color */
  margin-bottom: 10px; /* Increase margin for spacing */
}

.hero {
  background-color: #333;
  overflow: hidden;
}

.activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.activity-category {
  flex: 1;
  max-width: 300px;
  margin: 10px;
}

.activity-card {
  background-color: #666;
  border: 1px solid #fff;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  transition: background 0.3s ease, transform 0.3s ease, height 0.5s ease 0.3s; /* Add transition for height with duration and delay */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px; /* Fixed height for the activity card */
  overflow: hidden; /* Hide overflow */
}

.activity-card:hover {
  background-color: #888;
  transform: scale(1.03);
  height: auto; /* Expand the height on hover */
}

.activities-header {
  margin-bottom: 20px;
  text-align: center;
}

.activities-header h2 {
  font-size: 2.5em; /* Adjust the font size */
  color: #fff; /* Text color */
  margin-bottom: 10px; /* Increase margin for spacing */
}

.activities-header p {
  font-size: 1.2em; /* Adjust the font size */
  color: #ccc; /* Text color */
}

.thumbnail {
  width: 100%;
  height: 40%; /* Adjust the fixed height for the thumbnail container */
  object-fit: cover;
  border: 1px solid #fff;
}

.placeholder-thumbnail {
  width: 100%;
  height: 100%;
  background-color: #888;
  margin-bottom: 10px; /* Add margin below placeholder */
}

.activity-details {
  text-align: center; /* Center the description text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show before ellipsis */
  -webkit-box-orient: vertical;
}

.activities {
  background: linear-gradient(to bottom, #555, #444); /* Dark activities background gradient */
  padding: 40px 0;
}

.footer {
  background-color: #555; /* Dark gray footer background */
  padding: 10px;
  color: #fff; /* Footer text color */
}
